<html>
	<body>
		<h3>The Last of Us</h3>
		<table>
			<tr>
				<td>
					<img
					src="https://images-na.ssl-images-amazon.com/images/M/MV5BNDQ4YjA5YzQtZjM0Ni00OTM2LTlkOWUtMmZjMTlmNmFhZWYwXkEyXkFqcGdeQXVyNjUwNzk3NDc@._V1_UY100_CR39,0,100,100_AL_.jpg"
					title="Joel">
				</td>
				<td>
					<ul>
						<li>
							<a href="http://sexsarvi.users.cs.helsinki.fi/fancast/hughjackman">
								<img 
								src="https://images-na.ssl-images-amazon.com/images/M/MV5BNDExMzIzNjk3Nl5BMl5BanBnXkFtZTcwOTE4NDU5OA@@._V1_UX32_CR0,0,32,44_AL_.jpg"
								title="Hugh Jackman">
							</a>
						</li>
						<li>
							<a href="http://sexsarvi.users.cs.helsinki.fi/fancast/michaelfassbender">
								<img 
								src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTk0NjM2MTE5M15BMl5BanBnXkFtZTcwODIxMzcyNw@@._V1_UX32_CR0,0,32,44_AL_.jpg"
								title="Michael Fassbender">
							</a>
						</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>
					<img 
					src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTQyNTU3NzI3Ml5BMl5BanBnXkFtZTcwMTAzNTA3OQ@@._V1_UY100_CR39,0,100,100_AL_.jpg"
					title="Ellie">
				</td>
				<td>
					<ul>
						<li>
							<a href="http://sexsarvi.users.cs.helsinki.fi/fancast/maisiewilliams">
								<img 
								src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTkwNDQ3MjY1NV5BMl5BanBnXkFtZTcwMjQzMzEzOQ@@._V1_UY44_CR1,0,32,44_AL_.jpg"
								title="Maisie Williams">
							</a>
						</li>
					</ul>
				</td>
			</tr>
		</table>
		<br>
		<a href="http://sexsarvi.users.cs.helsinki.fi/fancast/adaptations">Back to adaptations</a>
	</body>
</html>